@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;500&family=Rubik+Puddles&display=swap');

nav {
    font-size: 40px;
    text-align: center;
    font-family: 'Rubik Puddles', cursive;
}